body{
	background-image: url(https://images7.alphacoders.com/994/994709.jpg);
    background-size: cover;
}
nav{
	background-color:  rgba(43, 121, 224, .9);
   }
   nav a{
   	  font-family: 'Merriweather', serif;
   }

nav .navbar-brand{
	font-size: 44px;
}

nav .navbar-collapse{
	font-size: 25px;
}
.container{
	/*background-color: rgba(22, 240, 43, .5);*/
	background-color: rgba(43, 121, 224, .6);
	margin: 50px 0px;
	padding: 30px;
	border-radius: 2rem;
}
.container label{
      font-size: 30px;
      color: #fff;
      font-family: 'Raleway', sans-serif;
      font-weight: bold; 
      }
.container input{
	border-radius: 10rem;
}
#btn_s{
	 border: none;
    width: 130px;
    height: 50px;
    margin-left: -60px;
    margin-right: auto;
    background-color: #1fde18;
    color: #fff;
    font-size: 20px;
}
#btn_s:hover {
    
    background-color: #fff;
    color: #1fde18;
    transition-duration: 1.0s;
}